flows.json
[
    {
        "id": "575a201eba4e1242",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55d8bdfe51f10fbc",
        "type": "group",
        "z": "575a201eba4e1242",
        "name": "Switch",
        "style": {
            "label": true
        },
        "nodes": [
            "214918005f9c6c34",
            "c33fcf625b1e2f1a",
            "3d6a76c41bf6fa5b"
        ],
        "x": 1114,
        "y": 679,
        "w": 572,
        "h": 82
    },
    {
        "id": "314b8c3117959d46",
        "type": "group",
        "z": "575a201eba4e1242",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "74283d92fce29e92",
            "c596a41a9ad349cc",
            "04dd0fd9984355e3"
        ],
        "x": 1114,
        "y": 779,
        "w": 572,
        "h": 82
    },
    {
        "id": "dad5568fe0f4872a",
        "type": "group",
        "z": "575a201eba4e1242",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c1612c09fd3a6c61",
            "fce91b1dbfbbc37d",
            "7895269886c1a532",
            "1a8b8156983dd91b",
            "eb97c02604707636",
            "da8315431b5b29c2",
            "8fd6f6f81cf0e303",
            "1dc9bb993016def6",
            "bfe42c3b4d81f42e",
            "aee352823a474347",
            "44280f66feed09b0",
            "186fdad9abb78df9"
        ],
        "x": 994,
        "y": 959,
        "w": 712,
        "h": 322
    },
    {
        "id": "ae0b5d4fcc535d08",
        "type": "group",
        "z": "575a201eba4e1242",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "690cfe80c66c9021",
            "632da8aa80ac06b6",
            "f4b5012cb67b3611"
        ],
        "x": 114,
        "y": 639,
        "w": 572,
        "h": 82
    },
    {
        "id": "3d0f844306d5ae4d",
        "type": "mqtt-broker",
        "name": "Aeroponics",
        "broker": "b2f6a66ded4d42eeb4911993f124ad2c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "myhome/#",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ee85e6db2c7c7c1",
        "type": "ui_group",
        "name": "Home",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed4ad0097e439e08",
        "type": "ui_group",
        "name": "Relays",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Aeroponics",
        "icon": "",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "hivemqcloud",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "b2f6a66ded4d42eeb4911993f124ad2c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ce7c42b6c22dd84",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#00cc33",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#00f048",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#00cc33",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#00cc33",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1aff53",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#00cc33",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "81b1bdc3.9a60b8",
        "type": "ui_group",
        "name": "Hacks",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1c67a074.861f4",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "fe0d70ee749307e2",
        "type": "ui_group",
        "name": "Time",
        "tab": "tab1",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfc255bccfd997e3",
        "type": "ui_group",
        "name": "Relays",
        "tab": "tab1",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": "relay"
    },
    {
        "id": "1c366ddf69853768",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "8cf47de266546bbc",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "994ed0dd6d47b146",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "4af9f99867955bed",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3d74f2a7ce92a268",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "994ed0dd6d47b146",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "4af9f99867955bed",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "547a1e2e431452f3",
        "type": "ui-group",
        "name": "Group 2",
        "page": "3d74f2a7ce92a268",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d3b288c2aadeaa45",
        "type": "ui-spacer",
        "group": "547a1e2e431452f3",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "a05eaf28c5376ae0",
        "type": "ui-spacer",
        "group": "547a1e2e431452f3",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "b8133ddefda19bad",
        "type": "ui-group",
        "name": "Time",
        "page": "3d74f2a7ce92a268",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7c1d75d89fe233e2",
        "type": "ui-theme",
        "name": "ui-base.label.theme 2",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "theme-glass",
        "type": "ui-theme",
        "name": "Glass Theme"
    },
    {
        "id": "dashboard2-glass",
        "type": "ui-page",
        "name": "Glass Dashboard",
        "ui": "994ed0dd6d47b146",
        "path": "/glass",
        "icon": "dashboard",
        "layout": "grid",
        "theme": "theme-glass",
        "order": 2,
        "className": ""
    },
    {
        "id": "card1",
        "type": "ui-group",
        "name": "Temperature",
        "page": "dashboard2-glass",
        "width": 6,
        "height": 5,
        "order": 1,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "card2",
        "type": "ui-group",
        "name": "Water Level",
        "page": "dashboard2-glass",
        "width": 6,
        "height": 5,
        "order": 2,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "card3",
        "type": "ui-group",
        "name": "Humidity",
        "page": "dashboard2-glass",
        "width": 6,
        "height": 5,
        "order": 3,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "dae1736014eedf68",
        "type": "ui_tab",
        "name": "Aeroponics1",
        "icon": "",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "6e72d53a2b1caef3",
        "type": "ui_group",
        "name": "Format",
        "tab": "tab1",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": "spacing"
    },
    {
        "id": "72d3df45fbd4aefb",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff6d42a97bff1f84",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "84029229d7309291",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1566402d5743f97d",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "367a0d6334ebdae2",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ebd122231377708",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a42c9a55c4e9f17b",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7cd68a5647e8321",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "67cba97a110849b5",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "eac5c5fc6447e44b",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2724ce6f311072be",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c2c63dce937ecb1",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "30d0402500f4fb6e",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "93303169969611ca",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "050b51a839b4aab8",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0571de1a6f0d4c2",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "dae1736014eedf68",
        "order": 9,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": "relays"
    },
    {
        "id": "groupA",
        "type": "ui_group",
        "name": "PC Tab",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "groupB",
        "type": "ui_group",
        "name": "Phone Tab",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "b65ff814eb8c0884",
        "type": "ui_group",
        "name": "Layout",
        "tab": "dae1736014eedf68",
        "order": 1,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86531ccb3a7f88e5",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "6e72d53a2b1caef3",
        "order": 1,
        "width": 18,
        "height": 1
    },
    {
        "id": "f02af034ebecaade",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "6e72d53a2b1caef3",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "18f658bfe0a96b8f",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "6e72d53a2b1caef3",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "0d5ae673a4515bc3",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "6e72d53a2b1caef3",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "c8ba868a5271f7a3",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "6e72d53a2b1caef3",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "3940737a4e3e420c",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "6e72d53a2b1caef3",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "48ac5f3c2baea5cb",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "dfc255bccfd997e3",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "54d4615631ac661e",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "dfc255bccfd997e3",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8c92b6022b87bf2",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "7191ea16b49392be",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "34d837e48c468bbf",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f68438ac3cd9f7bb",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8a0b8ce34c44802",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "0420ea8c39b64664",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7f5740c1c110b6c",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6d0f863623549f3",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "34371b810d5927dc",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "24aadd3187e78f04",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "67636903a7db8ff5",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "cc1a9c404cfdbfc5",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e8086d08028a445",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "06fc9ae28966f49c",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e85d2a07b930c77",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "75bfc4c86e4f89ac",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "bdda59b3fb80d731",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "f1956d8cfb4b0d60",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "91c5aa0287fcd591",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "c84a28382344b413",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "82cbaf5252e62b70",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "90347e7b85264f0f",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "74d96607b919c30b",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e5595ee3410710a",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f92be0bad4629b1",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "8fbbd14f84ae3b52",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c663ffe863867ab",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e054c2dac4d83fa",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd2254e099515c5f",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "d5b5e938d0f73b4a",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "fb98c5fed3637c73",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4e81de3d26e6950",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "008938bccb03b552",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5cc08c0a34126e2",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "df855462a7efc38e",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "b40378d144a2147f",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "3bb3e9bc369ca124",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "369fceb1b7909937",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "f525230c263fa4aa",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "02af86fdfda26afd",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 49,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a75659515f8e1e4",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "22a1a341ad48abab",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 51,
        "width": 1,
        "height": 1
    },
    {
        "id": "824f02da98929cb7",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "1e5a7042b269e7a8",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "a86601cdff683dad",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "133a76f33b84e16c",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "0cd1dcfe9a0513b0",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "a9b43b84af1fa444",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "b65ff814eb8c0884",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "392e4953de3091aa",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "d0571de1a6f0d4c2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c5d5c1beb744217f",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "d0571de1a6f0d4c2",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "0754a14e1c77d7fc",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "d0571de1a6f0d4c2",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "74d3bc134066adcb",
        "type": "ui_spacer",
        "z": "575a201eba4e1242",
        "name": "spacer",
        "group": "d0571de1a6f0d4c2",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e10996780909ec12",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "name": "",
        "topic": "myhome/time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 200,
        "wires": [
            [
                "6472f6a4ee1eec54",
                "b0d0f4de8709509b"
            ]
        ]
    },
    {
        "id": "fc43e5ec00d8ec74",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "Temperature",
        "group": "6e72d53a2b1caef3",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "<b>Temperature</b> <i class=\"fa fa-thermometer-half\"></i>",
        "label": "°C",
        "format": "",
        "min": 0,
        "max": 50,
        "colors": [
            "#0096d6",
            "#5ff77d",
            "#ffd600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 340,
        "wires": []
    },
    {
        "id": "fe93f409320eb555",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "Humidity",
        "group": "6e72d53a2b1caef3",
        "order": 7,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "<b>Humidity</b> <i class=\"fa fa-cloud\"></i>",
        "label": "%",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#30c3d3",
            "#60a9f7",
            "#ffd600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "spacing",
        "x": 1680,
        "y": 260,
        "wires": []
    },
    {
        "id": "3d6a76c41bf6fa5b",
        "type": "ui_switch",
        "z": "575a201eba4e1242",
        "g": "55d8bdfe51f10fbc",
        "name": "Relay 1",
        "label": "",
        "tooltip": "",
        "group": "dfc255bccfd997e3",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "brightness_7",
        "oncolor": "#ff8000",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "brightness_3",
        "offcolor": "#fff",
        "animate": true,
        "className": "toggle-with-count",
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "c33fcf625b1e2f1a"
            ]
        ]
    },
    {
        "id": "04dd0fd9984355e3",
        "type": "ui_switch",
        "z": "575a201eba4e1242",
        "g": "314b8c3117959d46",
        "name": "Relay 2",
        "label": "",
        "tooltip": "",
        "group": "dfc255bccfd997e3",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "cloud",
        "oncolor": "#0099ff",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "cloud_queue",
        "offcolor": "#fff",
        "animate": true,
        "className": "",
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "c596a41a9ad349cc"
            ]
        ]
    },
    {
        "id": "7098499a78937813",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "name": "",
        "topic": "myhome/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 320,
        "wires": [
            [
                "fc43e5ec00d8ec74",
                "4197d3942da9798e"
            ]
        ]
    },
    {
        "id": "3b05f0e3714cfc87",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "name": "",
        "topic": "myhome/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "fe93f409320eb555",
                "694bb9b19ff9a7ee"
            ]
        ]
    },
    {
        "id": "c33fcf625b1e2f1a",
        "type": "mqtt out",
        "z": "575a201eba4e1242",
        "g": "55d8bdfe51f10fbc",
        "name": "",
        "topic": "myhome/relay1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemqcloud",
        "x": 1380,
        "y": 720,
        "wires": []
    },
    {
        "id": "c596a41a9ad349cc",
        "type": "mqtt out",
        "z": "575a201eba4e1242",
        "g": "314b8c3117959d46",
        "name": "",
        "topic": "myhome/relay2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemqcloud",
        "x": 1380,
        "y": 820,
        "wires": []
    },
    {
        "id": "214918005f9c6c34",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "55d8bdfe51f10fbc",
        "group": "dfc255bccfd997e3",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "<b>Lights</b>",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 720,
        "wires": []
    },
    {
        "id": "74283d92fce29e92",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "314b8c3117959d46",
        "group": "dfc255bccfd997e3",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "<b>Sprinkler</b>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 820,
        "wires": []
    },
    {
        "id": "c938231772f09543",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "Water Level",
        "group": "6e72d53a2b1caef3",
        "order": 5,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "<b>Water Level</b> <i class=\"fa fa-tint\"></i>",
        "label": "%",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#30c3d3",
            "#60a9f7",
            "#ffd600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "spacing",
        "x": 1430,
        "y": 560,
        "wires": []
    },
    {
        "id": "629de18887276721",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "name": "",
        "topic": "myhome/waterlevel",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 520,
        "wires": [
            [
                "c938231772f09543",
                "f772b687f71fd62a"
            ]
        ]
    },
    {
        "id": "c1612c09fd3a6c61",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "name": "",
        "topic": "myhome/relay2status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "fce91b1dbfbbc37d"
            ]
        ]
    },
    {
        "id": "fce91b1dbfbbc37d",
        "type": "function",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "name": "function 2",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"ON\";\n} else if (msg.payload == 0) {\n    msg.payload = \"OFF\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1100,
        "wires": [
            [
                "7895269886c1a532",
                "44280f66feed09b0"
            ]
        ]
    },
    {
        "id": "7895269886c1a532",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "group": "6e72d53a2b1caef3",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Sprinkler Status: </b>",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1a8b8156983dd91b",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "group": "6e72d53a2b1caef3",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Grow Lights Status: </b>",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "bottom",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 1200,
        "wires": []
    },
    {
        "id": "eb97c02604707636",
        "type": "function",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "name": "function 3",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"ON\";\n} else if (msg.payload == 0) {\n    msg.payload = \"OFF\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1200,
        "wires": [
            [
                "1a8b8156983dd91b",
                "186fdad9abb78df9"
            ]
        ]
    },
    {
        "id": "da8315431b5b29c2",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "name": "",
        "topic": "myhome/relay1status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1200,
        "wires": [
            [
                "eb97c02604707636"
            ]
        ]
    },
    {
        "id": "ab156f4c7e4004a3",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "Ph Level",
        "group": "6e72d53a2b1caef3",
        "order": 8,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "<div style=\"padding-bottom: 10px;\"><b>pH Level</b> <i class=\"fa fa-level-up\"></i></div>",
        "label": "%",
        "format": "",
        "min": "1",
        "max": "14",
        "colors": [
            "#00e5ff",
            "#60a9f7",
            "#ffd600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "ph-padding-fix",
        "x": 1420,
        "y": 440,
        "wires": []
    },
    {
        "id": "10046764720877a5",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "name": "",
        "topic": "myhome/ph",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "ab156f4c7e4004a3",
                "a1dac8e9f6ec8513"
            ]
        ]
    },
    {
        "id": "c290ef11200ab107",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "81b1bdc3.9a60b8",
        "name": "CSS-Basics",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image:\n            linear-gradient(55deg, rgba(109, 255, 36, 0.5) 0%, rgba(196, 255, 200, 0.5) 100%),\n            url(\"https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&w=1280&q=80\");\n        background-size: cover;\n        background-position: center center;\n        background-repeat: no-repeat;\n        color: #111;\n    }\n\n    md-toolbar,\n    .nr-dashboard-toolbar,\n    .nr-dashboard-header {\n        background: transparent !important;\n        color: #fff !important;\n        box-shadow: none !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card * {\n        background: none !important;\n    }\n\n    ui-card-panel,\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: rgba(255, 255, 255, 0.20) !important;\n        border-radius: 18px !important;\n        border: 1.5px solid rgba(255, 255, 255, 0.5) !important;\n        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.10) !important;\n        backdrop-filter: blur(0px) !important;\n        -webkit-backdrop-filter: blur(0px) !important;\n        margin: 18px !important;\n        padding: 12px 22px !important;\n    }\n\n    ui-card-panel {\n        background: none !important;\n        border: none !important;\n        box-shadow: none !important;\n    }\n\n    .nr-dashboard-group {\n        background: none !important;\n        border: none !important;\n        box-shadow: none !important;\n        /* visibility: hidden; <-- removed */\n    }\n\n    /* Removed opacity rule entirely — it hides everything */\n</style>\n\n<!-- Load the font from Google Fonts -->\n<link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap\" rel=\"stylesheet\">\n\n<style>\n    body,\n    .nr-dashboard-theme,\n    .nr-dashboard-cardcontainer,\n    .nr-dashboard-template,\n    .nr-dashboard-text,\n    .md-button,\n    .md-select-value {\n        font-family: 'Poppins', sans-serif !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1290,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "86528e0863c77665",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n    var phoneWidth = 800; // px\n    var mobileTabHash = \"#!/1\";    // Use your mobile tab's hash (e.g. #!/2 or #!/mobile)\n    var desktopTabHash = \"#!/0\";   // Use your desktop tab's hash (e.g. #!/1 or #!/home)\n\n    function checkAndRedirect() {\n        var w = window.innerWidth;\n        var currentHash = window.location.hash;\n        // If small and not on mobile, redirect\n        if (w < phoneWidth && currentHash !== mobileTabHash) {\n            window.location.hash = mobileTabHash;\n        }\n        // If large and not on desktop, redirect\n        if (w >= phoneWidth && currentHash !== desktopTabHash) {\n            window.location.hash = desktopTabHash;\n        }\n    }\n    window.addEventListener(\"resize\", checkAndRedirect);\n    window.addEventListener(\"DOMContentLoaded\", checkAndRedirect);\n})();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fd7b4ba0ade70c1c",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "fe0d70ee749307e2",
        "name": "Styles",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n.center{\n    style=\"text-align:center;\n}\n\n.hide{\n    visibility: hidden;\n    padding:100px !impoertant;\n}\n\n.spacing{\n    margin-top: -50px;\n  \n   \n}\n.spacing1{\n    margin-top: 50px; \n    padding-bottom: -10px; \n}\n.spacing2{\n    margin-left: 100px auto !important;\n    margin-right: 200px auto !important;\n}\n.centered-content {\n  display: flex;\n  justify-content: center;\n  align-items: center;\n  height: 100%; /* Use if parent has height */\n  text-align: center;\n  flex-direction: column;\n}\n.spacing3{\n    padding-bottom:100px;\n}\n.nr-dashboard-gauge svg {\n\nmargin: auto !important;\n}\n.left{\n    padding-left: 10px;\n   \n}\n.bottom{\n    padding-bottom: -10px;\n   \n}\n.clock {\n    margin-top:20px !important;\n    margin-left:130px !important;\n    margin-right:130px !important;\n}  \n\n.temp { \n    padding-top:100px auto !important;\n    \n}\n.humid {\n    margin-top:10px !important;\n    margin-left:130px !important;\n}\n.nr-dashboard-gauge svg {\n    transform: scale(0.80);\n    display: block;\n    margin-bottom: 200px  !important; /* Center and add space */\n}\n\n\n.water{\n\n}\n\n.ph{\n\n}\n\n.state{\n    padding-top: 50px !important;\n    padding-right: 100px !important;\n    padding-left: 300px !important;\n    padding-bottom: 100px !important;\n}\n.relay{\n    margin-top: -215px !important;\n    margin-left: 650px !important;\n}\n\n.relays{\nmargin-top: 20px !important;\nmargin-right: 200px !important;\n}\n.my-dropdown-style {\n    padding: 20px !important;\n    margin-top: 10px !important;\n}\n\n.md-card-title,\n.nr-dashboard-cardtitle {\n    margin-bottom: 2px !important;\n    padding-bottom: 0px !important;\n}\n\n/* Pull the gauge up slightly */\n.ph-padding-fix .nr-dashboard-gauge {\n    margin-top: -10px !important;\n}\n.luntitech-wordart {\nfont-family: 'Segoe UI', sans-serif;\nfont-size: 40px;\nfont-weight: 900;\ntext-align: center;\nbackground-image: linear-gradient(to right, #00c853, #b2ff59);\n-webkit-background-clip: text;\n-webkit-text-fill-color: transparent;\ncolor: transparent;\nmargin-top: 20px;\n}\n\n/* Apply only to CP tab */\n[aria-label=\"Aeroponics1\"] .md-content {\n  max-width: 1000px; /* or whatever you prefer */\n  margin: 0 auto !important;\n  overflow-x: hidden !important;\n}\n\n[aria-label=\"Aeroponics1\"] .nr-dashboard-theme {\n  padding: 0 !important;\n  margin: 0 !important;\n  overflow-x: hidden !important;\n}\n\n[aria-label=\"Aeroponics1\"] body {\n  overflow-x: hidden !important;\n}\n.donut .high, .donut .low {\n    font-size: 18px !important;  /* Increase font size */\n    font-weight: bold;\n    color: black;\n}\n\n\n</style>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6472f6a4ee1eec54",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "6e72d53a2b1caef3",
        "name": "",
        "order": 4,
        "width": 18,
        "height": "1",
        "format": "<div style=\"\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    height: 100%;\n    width: 100%;\n    overflow: hidden;\n    font-weight: bold;\n    font-size: 1.8em;\n    line-height: 1em;\n\">\n    {{msg.payload}}\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8fd6f6f81cf0e303",
        "type": "function",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "name": "function 1",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"ON\";\n} else if (msg.payload == 0) {\n    msg.payload = \"OFF\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1000,
        "wires": [
            [
                "bfe42c3b4d81f42e",
                "aee352823a474347"
            ]
        ]
    },
    {
        "id": "1dc9bb993016def6",
        "type": "mqtt in",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "name": "",
        "topic": "myhome/relay3status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "hivemqcloud",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1000,
        "wires": [
            [
                "8fd6f6f81cf0e303"
            ]
        ]
    },
    {
        "id": "bfe42c3b4d81f42e",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "group": "6e72d53a2b1caef3",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<b>Valve Status: </b>",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4197d3942da9798e",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "",
        "group": "b65ff814eb8c0884",
        "order": 28,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "<b>Temperature</b> <i class=\"fa fa-thermometer-half\"></i>",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "temp-card",
        "x": 1860,
        "y": 300,
        "wires": []
    },
    {
        "id": "694bb9b19ff9a7ee",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "",
        "group": "b65ff814eb8c0884",
        "order": 19,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "<b>Humidity</b> <i class=\"fa fa-cloud\"></i>",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "temp-gauge",
        "x": 1790,
        "y": 220,
        "wires": []
    },
    {
        "id": "f772b687f71fd62a",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "",
        "group": "b65ff814eb8c0884",
        "order": 37,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "<b>Water Level</b> <i class=\"fa fa-tint\"></i>",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "temp-gauge",
        "x": 1520,
        "y": 520,
        "wires": []
    },
    {
        "id": "b0d0f4de8709509b",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "b65ff814eb8c0884",
        "name": "",
        "order": 16,
        "width": 5,
        "height": 1,
        "format": "<div style=\"\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    height: 100%;\n    width: 100%;\n    overflow: hidden;\n    font-weight: bold;\n    font-size: 1.6em;\n    line-height: 1em;\n\">\n    {{msg.payload}}\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "775c303779e3bf2f",
        "type": "ui_switch",
        "z": "575a201eba4e1242",
        "name": "Relay 1",
        "label": "",
        "tooltip": "",
        "group": "d0571de1a6f0d4c2",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "brightness_7",
        "oncolor": "#ff8000",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "brightness_3",
        "offcolor": "#fff",
        "animate": true,
        "className": "toggle-with-count",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "c48a07de3dd00b69"
            ]
        ]
    },
    {
        "id": "c48a07de3dd00b69",
        "type": "mqtt out",
        "z": "575a201eba4e1242",
        "name": "",
        "topic": "myhome/relay1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemqcloud",
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "a0642fa5a23840f8",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "group": "d0571de1a6f0d4c2",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "<b>Lights</b>",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "690cfe80c66c9021",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "ae0b5d4fcc535d08",
        "group": "d0571de1a6f0d4c2",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "<b>Sprinkler</b>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "632da8aa80ac06b6",
        "type": "mqtt out",
        "z": "575a201eba4e1242",
        "g": "ae0b5d4fcc535d08",
        "name": "",
        "topic": "myhome/relay2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemqcloud",
        "x": 380,
        "y": 680,
        "wires": []
    },
    {
        "id": "f4b5012cb67b3611",
        "type": "ui_switch",
        "z": "575a201eba4e1242",
        "g": "ae0b5d4fcc535d08",
        "name": "Relay 2",
        "label": "",
        "tooltip": "",
        "group": "d0571de1a6f0d4c2",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "cloud",
        "oncolor": "#0099ff",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "cloud_queue",
        "offcolor": "#fff",
        "animate": true,
        "className": "",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "632da8aa80ac06b6"
            ]
        ]
    },
    {
        "id": "537dae50d7b408b7",
        "type": "switch",
        "z": "575a201eba4e1242",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "90cbf218bd1d77f9",
                "98fb304dbfb080e7"
            ],
            [
                "5547ef23ab1bdef5",
                "531be5681103ca6e"
            ]
        ]
    },
    {
        "id": "5547ef23ab1bdef5",
        "type": "change",
        "z": "575a201eba4e1242",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Aeroponics1_Buttons\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 900,
        "wires": [
            [
                "cc8ef5e3d774e953"
            ]
        ]
    },
    {
        "id": "ce90868fc628e630",
        "type": "function",
        "z": "575a201eba4e1242",
        "name": "function 8",
        "func": "if (msg.payload == \"auto\") {\n    msg.payload = true;\n} else if (msg.payload == \"manual\") {\n    msg.payload = false;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 880,
        "wires": [
            [
                "537dae50d7b408b7"
            ]
        ]
    },
    {
        "id": "cc8ef5e3d774e953",
        "type": "ui_ui_control",
        "z": "575a201eba4e1242",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a1dac8e9f6ec8513",
        "type": "ui_gauge",
        "z": "575a201eba4e1242",
        "name": "Ph Level",
        "group": "b65ff814eb8c0884",
        "order": 46,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "<div style=\"padding-bottom: 10px;\"><b>pH Level</b> <i class=\"fa fa-level-up\"></i></div>",
        "label": "%",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00e5ff",
            "#60a9f7",
            "#ffd600"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "gauge",
        "x": 1420,
        "y": 400,
        "wires": []
    },
    {
        "id": "aee352823a474347",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "group": "b65ff814eb8c0884",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "<b>Valve Status: </b>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 1040,
        "wires": []
    },
    {
        "id": "44280f66feed09b0",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "group": "b65ff814eb8c0884",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "<b>Sprinkler Status: </b>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 1140,
        "wires": []
    },
    {
        "id": "186fdad9abb78df9",
        "type": "ui_text",
        "z": "575a201eba4e1242",
        "g": "dad5568fe0f4872a",
        "group": "b65ff814eb8c0884",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "<b>Grow Lights Status: </b>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "bottom",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 1240,
        "wires": []
    },
    {
        "id": "90cbf218bd1d77f9",
        "type": "change",
        "z": "575a201eba4e1242",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Aeroponics1_Buttons\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 860,
        "wires": [
            [
                "cc8ef5e3d774e953"
            ]
        ]
    },
    {
        "id": "f13979f63fd45dfa",
        "type": "ui_dropdown",
        "z": "575a201eba4e1242",
        "name": "Mode",
        "label": "<b>Mode</b>",
        "tooltip": "",
        "place": "",
        "group": "b65ff814eb8c0884",
        "order": 55,
        "width": 5,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Automatic",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Manual",
                "value": "manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "my-dropdown-style",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "ce90868fc628e630",
                "c477b07f3e9fed4e"
            ]
        ]
    },
    {
        "id": "98fb304dbfb080e7",
        "type": "function",
        "z": "575a201eba4e1242",
        "name": "auto",
        "func": "if (msg.payload === true) {\n    return { payload: \"auto\" };\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 960,
        "wires": [
            [
                "816816fd6bfcccc0"
            ]
        ]
    },
    {
        "id": "c477b07f3e9fed4e",
        "type": "mqtt out",
        "z": "575a201eba4e1242",
        "name": "Set Mode",
        "topic": "myhome/mode",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemqcloud",
        "x": 900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bca7432d41969187",
        "type": "switch",
        "z": "575a201eba4e1242",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1300,
        "wires": [
            [
                "1802351f33abe1b6",
                "6f490f6b0c62c5ed"
            ],
            [
                "f25813df5b1168c3",
                "d3d2629cbc137515"
            ]
        ]
    },
    {
        "id": "1802351f33abe1b6",
        "type": "change",
        "z": "575a201eba4e1242",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Aeroponics_Relays\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "64756d46858a63de"
            ]
        ]
    },
    {
        "id": "64756d46858a63de",
        "type": "ui_ui_control",
        "z": "575a201eba4e1242",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "0a0d4d2764c32f7f",
        "type": "ui_dropdown",
        "z": "575a201eba4e1242",
        "name": "Mode",
        "label": "<b>Mode</b>",
        "tooltip": "",
        "place": "",
        "group": "6e72d53a2b1caef3",
        "order": 15,
        "width": 6,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Automatic",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Manual",
                "value": "manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "my-dropdown-style",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "82a21d9e1481551d",
                "c477b07f3e9fed4e"
            ]
        ]
    },
    {
        "id": "f25813df5b1168c3",
        "type": "change",
        "z": "575a201eba4e1242",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\": {\"show\": [\"Aeroponics_Relays\"] } }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1300,
        "wires": [
            [
                "64756d46858a63de"
            ]
        ]
    },
    {
        "id": "82a21d9e1481551d",
        "type": "function",
        "z": "575a201eba4e1242",
        "name": "function 4",
        "func": "if (msg.payload == \"auto\") {\n    msg.payload = true;\n} else if (msg.payload == \"manual\") {\n    msg.payload = false;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1300,
        "wires": [
            [
                "bca7432d41969187"
            ]
        ]
    },
    {
        "id": "531be5681103ca6e",
        "type": "function",
        "z": "575a201eba4e1242",
        "name": "manual",
        "func": "if (msg.payload === false) {\n    return { payload: \"manual\" };\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "816816fd6bfcccc0"
            ]
        ]
    },
    {
        "id": "816816fd6bfcccc0",
        "type": "delay",
        "z": "575a201eba4e1242",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "82fe634172a601e0"
            ]
        ]
    },
    {
        "id": "d3d2629cbc137515",
        "type": "function",
        "z": "575a201eba4e1242",
        "name": "manual",
        "func": "if (msg.payload === false) {\n    return { payload: \"manual\" };\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1420,
        "wires": [
            [
                "a8a4760fa1291536"
            ]
        ]
    },
    {
        "id": "6f490f6b0c62c5ed",
        "type": "function",
        "z": "575a201eba4e1242",
        "name": "auto",
        "func": "if (msg.payload === true) {\n    return { payload: \"auto\" };\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "a8a4760fa1291536"
            ]
        ]
    },
    {
        "id": "a8a4760fa1291536",
        "type": "delay",
        "z": "575a201eba4e1242",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 1180,
        "wires": [
            [
                "fed325076393a2fa"
            ]
        ]
    },
    {
        "id": "fed325076393a2fa",
        "type": "rbe",
        "z": "575a201eba4e1242",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 190,
        "y": 1080,
        "wires": [
            [
                "f13979f63fd45dfa"
            ]
        ]
    },
    {
        "id": "c63993007ff6f3fd",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "d": true,
        "group": "6e72d53a2b1caef3",
        "name": "",
        "order": 3,
        "width": 18,
        "height": 2,
        "format": "<style>\n    .luntitech-wordart {\n        font-size: 40px;\n        font-weight: 900;\n        text-align: center;\n        color: transparent;\n        margin-top: 20px;\n    }\n</style>\n\n<div class=\"luntitech-wordart\">LuntiTECH</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1880,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0e2227cd31cec323",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "6e72d53a2b1caef3",
        "name": "LuntiTECH Word Art",
        "order": 2,
        "width": 18,
        "height": 2,
        "format": "<div style=\"\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  height: 100%;\n  overflow: hidden;\n\">\n  <img\n    src=\"https://raw.githubusercontent.com/GabDeRoxas/JUSTIMAGES/e50b5d48f7ebd9e190cca5d8929638928a59c978/3d%20tech%203-8.png\"\n    alt=\"LuntiTECH Logo\"\n    style=\"max-height: 100%; max-width: 100%; object-fit: contain;\"\n  >\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8e1230b96938c62d",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "b65ff814eb8c0884",
        "name": "LuntiTECH Word Art",
        "order": 2,
        "width": 5,
        "height": 2,
        "format": "<div style=\"\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  height: 100%;\n  overflow: hidden;\n\">\n  <img\n    src=\"https://raw.githubusercontent.com/GabDeRoxas/JUSTIMAGES/e50b5d48f7ebd9e190cca5d8929638928a59c978/3d%20tech%203-8.png\"\n    alt=\"LuntiTECH Logo\"\n    style=\"max-height: 100%; max-width: 100%; object-fit: contain;\"\n  >\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "de0e038df6fcdd0a",
        "type": "ui_template",
        "z": "575a201eba4e1242",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n    const targetTabName = \"Aeroponics1\"; // Your tab name (CP tab)\n\n    function applyStyles() {\n        const activeTab = document.querySelector('md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active');\n        if (activeTab && activeTab.innerText.trim() === targetTabName) {\n            document.body.classList.add(\"cp-mode\");\n        } else {\n            document.body.classList.remove(\"cp-mode\");\n        }\n    }\n\n    // Initial check\n    setTimeout(applyStyles, 300);\n\n    // Observe tab switching\n    const observer = new MutationObserver(applyStyles);\n    observer.observe(document.body, { childList: true, subtree: true });\n})();\n</script>\n\n<style>\n    /* Apply centering and scroll fix ONLY on Aeroponics1 tab */\n    body.cp-mode .nr-dashboard-theme {\n        max-width: 1000px;\n        margin: 0 auto !important;\n        overflow-x: hidden !important;\n    }\n\n    body.cp-mode {\n        overflow-x: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "82fe634172a601e0",
        "type": "rbe",
        "z": "575a201eba4e1242",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 370,
        "y": 1180,
        "wires": [
            [
                "0a0d4d2764c32f7f"
            ]
        ]
    }
]